@media screen and (max-width: 575px) { 
  .about-page h2 {
    font-size: 6vw;
  }
}


.about-page {
  text-align: center;
}

.about-page h2 {
  padding: 20px;
}

.about-table {
  margin: 10px auto;
  text-align: left;
}

.about-table th{
  width: 50px;
}


.about-table td {
  width: auto;
}

.about-page a {
  color: black;
}

.about-page a :hover{
  color: red;
}



