@media screen and (max-width: 575px) {
	header{
		position: relative;
		width: 100%;
		height: 43em;
		margin-top: 0;
		margin-bottom: 100px;
		background-color:whitesmoke;
		text-align: center;
	}
}


@media screen and (min-width: 576px) {
	header{
		position: relative;
		width: 100%;
		height: 43em;
		margin-top: 0;
		margin-bottom: 100px;
		background-color: whitesmoke;
		text-align: center;
	}
}


@keyframes titleAnimation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
}

@keyframes contactAnimation {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes iconAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes locationAnimation {
	0% {
		opacity: 0;
	}
	50% {
		transform: translateY(25px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes arrowMove{
	0%{
		opacity: 0;
		bottom: 1%;
	}
	50%{
		opacity: 1;
		bottom: 2%;
	}
	100%{
		opacity: 0;
		bottom: 1%;
	}
}

@keyframes hideAnimation {
	0% {
		opacity: 0;
	}
}


.main-h2-text {
	animation: titleAnimation .5s;
	margin-bottom: 20px;
}

.main-h3-text {
	animation: locationAnimation .65s;
	margin-bottom: 50px;
}

.contact {
	animation: contactAnimation .75s;
	padding-bottom: 60px;
}

.icon-img {
	animation: iconAnimation .5s;
}

.icon-img {
	z-index: 1;
	margin-top: 50px;
  width:150px;
	height:150px;
	object-fit:cover;
	border-radius:50%;
	object-position:0px 0px;
	user-select: none;
	pointer-events: none;
}

.about-me-text{
	padding-bottom: 15px;
}

.about-me-text a{
	color: #333;
	text-decoration: none;
}

.about-me-text a:hover{
	color: red;
}


.mail-text {
	margin-right: 15px;
	text-decoration: none;
	color: #000;
	margin-bottom: 50px;
}

.mail-text:hover {
	color:red;
}

.github-text {
	margin-left: 15px;
	text-decoration: none;
	color: #000;
	margin-bottom: 50px;
}

.github-text:hover {
	color:red;
}

.arrow-icon {
	opacity: 0;
	pointer-events: none;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	animation: arrowMove 1.25s .65s ease-in-out infinite;
	animation-fill-mode: forwards;
	padding-bottom: 50px;
}

.arrow-icon.hide {
	opacity: 0;
	animation: none;
}