@keyframes heroAnimation {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  margin: 100px 0px;
}
.hero h1 {
  animation: heroAnimation .75s;
}

.hero-text {
  font-size: calc(24px + 1.5vw);
  line-height: 1.2;
}
