@keyframes titleAnimation {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
}

.hero {
  margin: 100px 0px;
}
.hero h1 {
  animation: titleAnimation 1.5s;
}

.hero-text {
  font-size: calc(24px + 1.5vw);
  line-height: 1.2;
}
